include README.md
include LICENSE
include CITATION.cff
include CONTRIBUTING.md
include pyproject.toml
include setup.py

# Include your docs and examples
recursive-include docs *
recursive-include examples *

# Include static files or other package data
global-include *.txt *.rst *.md
