# Dependencies required to build the documentation

sphinx
sphinx_rtd_theme
sphinx-sitemap
myst-parser
sphinx.ext.napoleon
sphinx.ext.viewcode
sphinx.ext.mathjax

# Dependencies of your package

numpy
scipy
matplotlib
dataclasses
scikit-learn
