# Dependencies required to build the documentation

sphinx>=7.0
sphinx_rtd_theme>=1.2
myst-parser>=2.0
sphinx.ext.napoleon
sphinx.ext.viewcode
sphinx.ext.mathjax

# Dependencies of your package

numpy>=1.26
scipy>=1.14
matplotlib>=3.9
